body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-bg{
    margin-top: 100px;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    text-align: center;
    font-weight: 600;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #passagemInfo {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  #passagemInfo h2 {
    margin-bottom: 10px;
  }
  
  #passagemInfo p {
    margin-bottom: 5px;
  }
  
  #passagemInfo strong {
    font-weight: bold;
  }
  